PyJWT==2.12.1
PyMuPDF==1.27.2.2
PyPika==0.51.1
Pygments==2.19.2
chromadb==1.1.1
crewai==1.11.1
docstring_parser==0.17.0
et_xmlfile==2.0.0
googleapis-common-protos==1.73.0
huggingface_hub==1.7.2
importlib_resources==6.5.2
json5==0.10.0
json_repair==0.25.3
langchain-google-genai==4.2.1
mdurl==0.1.2
paddleocr==3.4.0
paddlex==3.4.2
python-bidi==0.6.7
pdfplumber==0.11.9
pip-chill==1.0.5
portalocker==2.7.0
pyasn1_modules==0.4.2
pydantic_core==2.33.2
shap==0.51.0
uuid_utils==0.14.1
